.dropdown-container {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.dropdown-display {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-display.open {
  background-color: #e0e0e0;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 10;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
  width: 60px; /* Make options list same width as the dropdown */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the items vertically */
  align-items: center; /* Centers the items horizontally */
}

/* Individual dropdown option */
.dropdown-option {
  padding: 12px; /* Added padding for better spacing */
  cursor: pointer;
  color: black;
  font-size: 14px;
  width: 100%; /* Make each option span the entire width of the container */
  text-align: center; /* Ensure the text is centered */
}

.dropdown-option:hover {
  background-color: #8800ff;
  color: white;
}

.dropdown-option.active {
  background-color: #8800ff;
  color: white;
}

.dropdown-option:active {
  background-color: #6600cc;
}

.dropdown-option:disabled {
  color: #999;
  cursor: not-allowed;
}
